* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://api.ixiaowai.cn/gqapi/gqapi.php?39c915de?random=1')
    no-repeat center center/cover; /* 一行代码实现背景图片自适应视口并且不拉伸 */
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px); /* 滤镜 给图像设置高斯模糊 */
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
