:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center; /* 文字水平居中 */
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  /* max-width: 100%; */
  width: 350px;
}

.progress-container::before { /* 绘制最下面的线条 */
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /* 向上偏移自己高度的一半，这样就居中了 */
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress { /* 进度条 */
  background-color: var(--line-border-fill);
  position: absolute; /* 绝对定位以后，就不会占用1234的空间了 */
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease; /* ease：逐渐慢下来 */
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill)
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98); /* 控制按钮缩放，点击会变小 */
}

.btn:focus {
  outline: 0; /* 没发现效果 */
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}